/* variable */
:root{
	--color-red: #fd3434;
	--color-purple : #ae68e3;
	--color-blue : #353e85;
}
/* tag setting */
*{ margin:0; padding: 0; box-sizing: border-box; color: #333; font-family: sans-serif; }
ul,ol{ list-style: none; }
a{ text-decoration: none; color: inherit; }
input{ outline: none; border:0; background: transparent; }
button{ outline: none; border:0; background: transparent; cursor: pointer; }

/* class setting */
.container{ margin: 0 auto; width: 1440px; height: 100%; }
.input{ padding: 0.5rem 0.75rem; border:1px solid #bbb; border-radius: 3px; font-size: 0.75rem; color: #999; background: #fff; }
.btn{ padding: 0.5rem 0.75rem; border-radius: 3px;  background: var(--color-blue); color: #fff; font-size: 0.75rem; }


/* trello */
.trello-head{ padding: 1.5rem 0; }
.trello-head .trello-head__insert{ display: flex; gap:1rem; }
.trello-head .trello-head__insert .insert__input{ width: 320px; }
.trello-head .trello-head__insert .insert__button{}

.trello-body{ display: flex; flex-wrap: wrap; gap:1rem; }
.trello-body .group{ width: 300px; padding: 0.75rem; border-radius: 5px; background: #f5f5f5; }
.trello-body .group .group-head{  }
.trello-body .group .group-head .group-head__view{ position: relative;    }
.trello-body .group .group-head .group-head__view .view__title{ font-weight: bold; font-size: 1.25rem; }
.trello-body .group .group-head .group-head__view .view__button{ position: absolute; right: 0; top: 0; width: 12px; height: 12px; border-radius: 50%; background: var(--color-red);  }
.trello-body .group .group-head .group-head__insert{ margin-top: 0.5rem; display: flex; gap:1rem; }
.trello-body .group .group-head .group-head__insert .insert__input{ flex:1; }
.trello-body .group .group-head .group-head__insert .insert__button{}

.trello-body .group .group-body{ margin-top:1rem; }
.trello-body .group .group-body .item{ position: relative; background: #fdfdfd; border-radius: 3px; padding: 1.25rem 1rem;  }
.trello-body .group .group-body .item .item__title{ font-size: 0.75rem; }
.trello-body .group .group-body .item .item__button{ position: absolute; right: 0; top: 0; width: 12px; height: 12px; border-radius: 50%; background: var(--color-purple); margin: 0.25rem;}

